@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "tailwindcss";

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: "Anton", sans-serif;
}

.front {
  background: linear-gradient(to right, skyblue, rgba(0, 0, 0, 0)),
    url("https://grainy-gradients.vercel.app/noise.svg");
  transform: rotateY(0deg) translateZ(150px);
}

.back {
  background: linear-gradient(to right, pink, rgba(0, 0, 0, 0)),
    url("https://grainy-gradients.vercel.app/noise.svg");
  transform: rotateY(180deg) translateZ(150px);
}

.right {
  background: linear-gradient(to right, #38f279, rgba(0, 0, 0, 0)),
    url("https://grainy-gradients.vercel.app/noise.svg");
  transform: rotateY(90deg) translateZ(150px);
}

.left {
  background: linear-gradient(to right, #f25922, rgba(0, 0, 0, 0)),
    url("https://grainy-gradients.vercel.app/noise.svg");
  transform: rotateY(-90deg) translateZ(150px);
}

.top {
  background: linear-gradient(to right, #f20f38, rgba(0, 0, 0, 0)),
    url("https://grainy-gradients.vercel.app/noise.svg");
  transform: rotateX(90deg) translateZ(150px);
}

.bottom {
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0)),
    url("https://grainy-gradients.vercel.app/noise.svg");
  transform: rotateX(-90deg) translateZ(150px);
}
